<nav class="navbar do-not-print">
  <div class="navbar__container">
    <a href="#home" id="navbar__logo">OCUSTOS</a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span> <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="#home" class="navbar__links" id="home-page">List of Jobs</a>
      </li>
      <li class="navbar__item">
        <a href="#about" class="navbar__links" id="about-page">About</a>
      </li>
    </ul>
  </div>
</nav>

<div role="main" style="padding: 10px; padding-bottom: 50px">
  <!-- Links -->
  <div class="card-container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="do-not-print">
  <section class="social__media">
    <div class="social__media--wrap">
      <div class="footer__logo">
        <a href="/" id="footer__logo">OCUSTOS</a>
      </div>
      <p class="website__rights">© AISLER {{ anio }}. All rights reserved</p>
    </div>
  </section>
</footer>
